
.summary ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.summary ul li {
height: 52px;
clear: both;
margin-bottom: 14px;
}

.summary ul li .summary-icon {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}


.summary ul li .summary-icon2 {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}





.summary ul li .summary-number {
font-size: 20px;
font-weight: bold;
display: block;
padding-top: 8px;
}

.summary ul li .summary-title {
display: block;
text-transform: uppercase;
font-size: 11px;
color: #AB4000;
}
